
<div class="wrapper">

    <h2>Sales Representative List</h2>

    
        <div class="head-wrapper">

           <span class="head-element"> 
               <input type="search" placeholder="Search"/>
               <button type="button">Search</button>
            </span>

            <span class="head-element">
                <button type="button">Upload historical data</button>
            </span>

            <span class="head-element">
                <label for="no-of-rows">Display Records</label>

                <select name="no-of-rows" #rows (change)="getResult(rows.value)" id="no-of-rows">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=30>30</option>
                </select>

            </span>

            <span class="head-element">
                <button type="button" (click)="CreateSalesRep()">Create new</button>
            </span>
        </div>

        <div class="sales-reps">

            <table class="sales-reps-table">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>Zipcode</th>
                      <th>Gender</th>
                      <th></th>
                    </tr>
                </thead>

                <tbody *ngFor="let rep of salesReps">
                    <tr>
                        <td>{{rep.salesRepId}}</td>
                        <td>{{rep.salesRepName}}</td>
                        <td>{{rep.country}}</td>
                        <td>{{rep.city}}</td>
                        <td>{{rep.pincode}}</td>
                        <td>{{rep.gender}}</td>
                        <td>

                            <div>
                                <span>
                                    <button type="button" (click)="updateSalesRep(rep)" id='edit-button'>Edit</button>
                                    <button type="button" (click)="deleteSalesRep(rep.salesRepId)" id="delete-button">Delete</button>
                                </span>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>

            </table>

        </div>

    
</div>



